/* Variables
/* ---------------------------------------------------------- */

:root {
  color-scheme: dark light;
}

/* Fonts */
$font-sans-serif: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif;
$font-serif: "New York", serif;
$font-mono: monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;

/* Colours */
$color-body-font: #131313;

$color-primary: #f9ada0;
$color-primary-hover: #f9ada0b9;
$color-primary-light: #f9ada0;

$color-base: #131313;
$color-base-light: #fff;
$color-base-light-inverted: #131313;

$color-sub-base: #454545;

$color-border: #dbdbdb;

$color-bg: #f8f8f8;
$color-bg-dark: #131313;

$link-color: #1c8ffa;

$color-bg-bright: #ededed;
